* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#outer-container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #outer-container:before, #outer-container:after {
    content: " ";
    display: table; }
  #outer-container:after {
    clear: both; }

body {
  font-family: Helvetica; }
