doctype html
html
  head
    title StackTest
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  body
    #outer-container
      #flash-messages
        - if notice
          p.notice= notice
        - if alert
          p.alert= alert
      == yield

